<ion-view view-title="Parameters">
  <ion-content>
    <div class="container">
      <div class="row parameters">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Parameters</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Current language : {{ curLang }}</li>
                <li class="list-group-item"> Language choice :
                  <select ng-change="changeLang()" ng-model="cuLang" ng-options="lang in langs">
                  </select>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
